* {
    box-sizing: border-box;
}
.header {
    padding: 30px 0 10px 0;
    text-align: center;
}
.game {
    margin: 0 auto;
    text-align: right;
    justify-content: center;
    display: flex;
    padding: 0 120px 100px 0;
}

.controls {
    text-align: center;   
    margin-right: 20px;
}

.controls .controlItem {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}
